.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.joinBtn:hover {
  width: 15em;
  height: 8ex;
  background-color: bisque;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
